<template>
    <panel-item :field="field">
        <p slot="value" class="text-90">
            <template v-for="(size, index) in this.field.value">
                <b class="mb-4 block">{{index}}:</b>

                <ul>
                    <li class="mb-4" v-for="(item, index) in size" :key="index">
                        <span class="capitalize">{{index}}:</span> {{item}}

                        {{index === 'calories' ? 'kcal' : 'g'}}
                    </li>
                </ul>

            </template>
        </p>
    </panel-item>
</template>

<script>
	export default {
		props: ['resource', 'resourceName', 'resourceId', 'field'],
	}
</script>
